@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

body {
  background: #09090b;
  color: #e4e4e7;
}

.page-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
